* { margin: 0; padding: 0; box-sizing: border-box; }
body, html {min-height: 100%;}

a {color: #495D7B; font-weight: 700; text-decoration: none; }
a:hover {color: #333; }
img { max-width: 100%; vertical-align: baseline;}

body { font-size: 16px; font-family:'Roboto', sans-serif; font-weight: 400; color: #333; background: url(dataConstruct-bg.png) right bottom no-repeat fixed; }

h1 { font-weight: 300; font-size: 2.5em; margin-bottom: 1rem; }
h2 {font-weight: 300; margin-bottom: .5rem; text-transform: uppercase; letter-spacing: .075em;}
h2:before {content:""; display: inline-block; width: .75em; height: .75em; background: url(DataConstructInc.png); background-size: cover; margin-right:.25em;}
h3, h3 a {font-weight: 400; margin-bottom: .5rem; font-size: 1.2em;}

p {margin-bottom: 1rem; font-size: .9em;line-height: 1.75em;}

.content { max-width: 1000px; margin: 0 auto; padding: 1rem; }

.header {padding: 1rem 1rem 0; text-align: right;}
.header .content {display: grid; grid-template-columns: 50% 50%; max-width: 100%;}
.interiorPage .header .content {max-width: 1000px;}

nav a {padding: 1em 0 1em 1em; }

.logo {text-align: left;}
.logo img {max-height: 75px;}

.hero {/*border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; background: rgba(255,255,255,.3);*/}
.hero .content {color: #333; position: relative; display: grid; grid-template-columns: 50% 50%; max-width: 100%; padding: 0 1rem;}
.hero h1 { width: 100%;align-self: center;padding: 1em; font-size: 1.5em;}
.hero img {align-self: center;}

.social, .asSeenOn {text-align: center; padding: 1rem;}
.social {font-size: 3em;}
.social a {margin: 0 1rem; padding: 0;}

.date {font-size: .9em; font-style: italic; margin-bottom: 0; color: #666;}

.asSeenOn img {display: inline-block; opacity: .4; width: 150px; vertical-align: middle;}

.testimonials, .blogs { display: grid; grid-gap: 1rem; grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) ); align-items: center; margin-top: 1rem;}
.sblogs {grid-template-columns: 1fr 1fr 1fr;}
.testi, .blogItem {padding: 1rem;align-self: stretch; border-radius: 2px;}
.testi { text-align: center; color: #666; font-style: italic; position: relative; font-family: 'PT Serif', serif; font-size: 1.1em;}
.testi:before {content: '"'; font-style: italic; position: absolute; top: .25em; left: 0em; font-size: 10em; color: #999; color: rgba(0,0,0,.1);}
.blogItem { border: 1px solid #ddd;}
.blogItem img {margin-bottom: 1rem; box-shadow: 0 1em 1em -1em rgba(0,0,0,.5);}

blockquote {display: block; padding: 2rem ; margin-bottom: 1em; font-size: 2rem; font-weight: 400; color: #66BAE9; font-family: 'PT Serif', serif; border-left: 4px solid #66BAE9;}

.blogEntry h2 {margin-bottom: 1rem;}
.blogEntry img {float: right; width:400px; max-width: 50%; margin: 0em 0em 1em 1em;  box-shadow: 0 1em 1em -1em rgba(0,0,0,.5);}

.blogEntry + .blogEntry {margin-top: 3rem; padding-top: 3rem; border-top: 1px solid #ccc;}

footer {background: #495D7B; color: #fff; text-align: center;}
footer img {width:150px; }
footer p { margin: 1rem 0 0; }

small {font-size: .7em;}

@media (max-width: 900px) {
	.hero .content {grid-template-columns: 40% 60%;}
	.hero h1 { font-size: 1.3em; }
}
@media (max-width: 750px) {
	.hero h1 { font-size: 1em; }
}

@media (max-width: 600px) {
	.blogEntry img {width: 100%; margin: 1em 0; float: none; max-width: 100%;}
	.header .content {grid-template-columns: 1fr; text-align: center; border-bottom: 1px solid #66BAE9; margin-bottom: 1rem;}
	.hero .content {grid-template-columns: 1fr;}
	.logo {text-align: center; margin-bottom: 1rem;}
	.hero h1 { font-size: 1.3em; }
	.hero img {width: 75%; margin: 0 auto;}
}