<meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
<meta charset="utf-8">
<title>{{ page.title }} - {{ site.title }}  </title>

<meta property="og:url" content="https://www.dataconstruct.ca/">
<meta property="og:type" content="website">
<meta property="og:title" content="DataConstruct Inc.">
<meta property="og:description" content="Providing key DevOps consulting expertise around implementing tools, infrastructure, automation and processes that will allow employees to collaborate, iterate and execute on building amazing products.">
<meta property="og:image" content="{{ "/assets/img/share.jpg" | relative_url }}">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">

<script defer="" src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700|Roboto:300,400,400i,700,700i&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ "/assets/css/stylez.css" | relative_url }}">